<header class="header">
  <h1 class="main-heading" routerLink="/home">Bear Necessities</h1>
  <img class="claw" src="../assets/bear.png" alt="bear image" />

  <nav>
    <a class="nav-item" routerLink="/home">Home</a>

    <a class="nav-item" routerLink="/campground-watchlist"
      >Favorite Campsites</a
    >
    <a class="nav-item" routerLink="/supplies">Supplies</a>
    <a class="nav-item" routerLink="/recipes">Recipes</a>
    <a class="nav-item" routerLink="/about">About</a>
  </nav>
</header>

<!-- <header>
  <h1 class="logo" routerLink="/home">Bear Necessities</h1>
  <input type="checkbox" id="nav-toggle" class="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li routerLink="/home">Home</li>
      <li routerLink="/supplies">Supplies</li>
      <li routerLink="/recipes">Recipes</li>
      <li routerLink="/campground-watchlist">Campsite Watchlist</li>
      <li routerLink="/about">About</li>
    </ul>
  </nav>

  
  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header> -->
<!-- for="nav toggle" looks for id in input -->
