<!-- <header class="header">
  <h1 class="main-heading" routerLink="/home">Bear Necessities</h1>
  <img class="claw" src="../assets/bear.png" alt="bear image" />

  <nav>
    <a
      class="nav-item"
      routerLink="/home"
      (click)="changeClicked('home')"
      [ngClass]="{ 'tab-color': checkClicked('home') }"
      >Home</a
    >

    <a
      class="nav-item"
      routerLink="/campground-watchlist"
      (click)="changeClicked('favorites')"
      [ngClass]="{ 'tab-color': checkClicked('favorites') }"
      >Favorite Campsites
    </a>
    <a
      class="nav-item"
      routerLink="/supplies"
      (click)="changeClicked('supplies')"
      [ngClass]="{ 'tab-color': checkClicked('supplies') }"
      >Supplies</a
    >
    <a
      class="nav-item"
      routerLink="/recipes"
      (click)="changeClicked('recipes')"
      [ngClass]="{ 'tab-color': checkClicked('recipes') }"
      >Recipes</a
    >
    <a
      class="nav-item"
      routerLink="/about"
      (click)="changeClicked('about')"
      [ngClass]="{ 'tab-color': checkClicked('about') }"
      >About</a
    >
  </nav>
</header> -->

<!-- here is where the burger code starts -->

<header>
  <h1 class="main-heading" routerLink="/home">Bear Necessities</h1>
  <img class="claw" src="../assets/bear.png" alt="bear image" />
  <input
    type="checkbox"
    id="nav-toggle"
    class="nav-toggle"
    class="nav-toggle"
  />
  <nav>
    <ul>
      <li
        class="nav-item"
        routerLink="/home"
        (click)="changeClicked('about')"
        [ngClass]="{ 'tab-color': checkClicked('about') }"
      >
        Home
      </li>
      <li
        class="nav-item"
        routerLink="/supplies"
        (click)="changeClicked('about')"
        [ngClass]="{ 'tab-color': checkClicked('about') }"
      >
        Supplies
      </li>
      <li
        class="nav-item"
        routerLink="/recipes"
        (click)="changeClicked('about')"
        [ngClass]="{ 'tab-color': checkClicked('about') }"
      >
        Recipes
      </li>

      <li
        class="nav-item"
        routerLink="/campground-watchlist"
        (click)="changeClicked('about')"
        [ngClass]="{ 'tab-color': checkClicked('about') }"
      >
        Campsite Watchlist
      </li>

      <li
        class="nav-item"
        routerLink="/about"
        (click)="changeClicked('about')"
        [ngClass]="{ 'tab-color': checkClicked('about') }"
      >
        About
      </li>
    </ul>
  </nav>

  <label for="nav-toggle" class="nav-toggle-label">
    <span></span>
  </label>
</header>
<!-- for="nav toggle" looks for id in input -->
