<header>
  <div class="bear-nav-container">
    <h1 class="main-heading" routerLink="/home">Bear Necessities</h1>
    <img class="claw" src="../assets/bear.png" alt="bear image" />
    <input
      type="checkbox"
      id="nav-toggle"
      class="nav-toggle"
      class="nav-toggle"
    />
    <nav>
      <ul>
        <li
          class="nav-item"
          routerLink="/home"
          (click)="changeClicked('home')"
          [ngClass]="{ 'tab-color': checkClicked('home') }"
        >
          Home
        </li>
        <li
          class="nav-item"
          routerLink="/supplies"
          (click)="changeClicked('supplies')"
          [ngClass]="{ 'tab-color': checkClicked('supplies') }"
        >
          Supplies
        </li>
        <li
          class="nav-item"
          routerLink="/recipes"
          (click)="changeClicked('recipes')"
          [ngClass]="{ 'tab-color': checkClicked('recipes') }"
        >
          Recipes
        </li>

        <li
          class="nav-item"
          routerLink="/campground-watchlist"
          (click)="changeClicked('favorites')"
          [ngClass]="{ 'tab-color': checkClicked('favorites') }"
        >
          Campsite <span class="watchlist-li"> Watchlist </span>
        </li>

        <li
          class="nav-item"
          routerLink="/about"
          (click)="changeClicked('about')"
          [ngClass]="{ 'tab-color': checkClicked('about') }"
        >
          About
        </li>
      </ul>
    </nav>

    <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
  </div>
</header>
<!-- for="nav toggle" looks for id in input -->
