<div class="test-border">
  <p>{{ stateObjectRef?.FacilityID }}</p>
  <p>{{ stateObjectRef?.FacilityPhone }}</p>
  <p>{{ stateObjectRef?.FacilityName }}</p>
  <p (click)=" emitShowDetailEvent(stateObjectRef); setShowDetails(); setShowActivities() ">
    Show activities
  </p>
</div>

<!-- loops through campsiteID -->
<div *ngFor="let camp of campsiteArray">
  <div *ngIf="showDetails"></div>
  <div class="popUp" *ngIf="showActivities">
    <p (click)="emitCampsiteIdEvent(camp?.CampsiteID)">Attribute show here!</p>

    <button (click)="test(camp.CampsiteID)">clickMe</button>


    <button class="popUp-button" (click)="setShowActivities()">X</button>
  </div>

  <p>{{ camp?.CampsiteName }}</p>
 
  <p>{{ campsiteIdInfo?.AttributeName }}</p>
</div>
