.watchLater {
  color: red;
}

.available-btn {
  border: none;
  background-color: midnightblue;
  color: white;
  text-shadow: 0.03em 0 black, 0 0.03em black, -0.03em 0 black, 0 -0.03em black;
  color: black;
  padding: 7px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}
