<!-- Displays the Camp Facility Name and phone number -->
<div class="campsite-list">
  <p class="name-text">
    Name {{ campRef?.CampsiteName }}

    <i
      class="fas fa-heart"
      (click)="emitWatchListEvent(campRef)"
      [ngClass]="{ watchLater: checkWatchList(campRef) }"
    ></i>
  </p>
</div>

<p class="name-text">Campsite Type {{ campRef?.CampsiteType }}</p>

<div *ngFor="let equipment of campRef.PERMITTEDEQUIPMENT">
  <p class="name-text">{{ equipment.EquipmentName }}</p>
</div>

<button class="available-btn" (click)="goToCampsiteDetails(campRef.CampsiteID)">
  See campsite details
</button>
