
<!-- Displays the Camp Facility Name and phone number -->
<div class="test-border">
  
 
  <p>{{ stateObjectRef?.FacilityName }}</p>
  <p>{{ stateObjectRef?.FacilityPhone }}</p>
  <button (click)="emitShowDetailEvent(stateObjectRef)">Click to see available campsites!</button>
</div>

<!-- loops through campsiteID -->
<div *ngFor="let camp of campsiteArray">
  <div *ngIf="showDetails">
    
    <p>Campsite Name {{ camp?.CampsiteName }}</p>
    <button (click)="test(camp.CampsiteID); ">
      See camping guide
    </button>
  
  </div>

</div>
