/* .background-image {
  background-size: cover;
} */

.campsite-display {
  font-size: 0.9em;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex: 1 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222831;
  opacity: 0.9;
  margin: 4px 7px;
  padding: 5px 5px;
  width: 300px;
  border: 1px solid;
  color: white;
  border-radius: 10px;
}

.phone {
  margin-right: 0.4em;
}

.tent-logo {
  color: tan;
}

.facility-name {
  font-size: 1.2em;
  text-align: center;
}
.facility-phone {
  display: flex;
  flex-wrap: wrap;
  margin: 7px;
  text-shadow: 0.005em 0 black, 0 0.005em black, -0.05em 0 black,
    0 -0.005em black;
}
.watchLater {
  color: red;
}
.name-text {
  text-transform: uppercase;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}
.campsites {
  flex-direction: inherit;
  font-size: 0.9em;
}
.campsite-div {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  margin: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(240, 208, 68, 0.8); */
  background-color: rgba(243, 140, 56, 0.8);
  /* background-color: #222831; */
  /* opacity: 0.9; */
  width: 300px;
  color: white;
  border-radius: 10px;
}

/* need to fix */
.campsites {
  /* font-size: 1.2em; */
  font-size: 1em;
  border-radius: 1em;
  color: white;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  display: flex;
  flex-wrap: wrap;
}
.btn {
  color: black;
  font-size: 1em;
}

.error {
  background-color: red;
  color: white;
}

/* I added this */
/* @media (min-width: 768px) {
  .app-facility {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .campsites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    top: 100;
    left: 50;
    transform: translate(-50%);
  }
  .campsite-display {
    display: flex;
  }
} */
