<div class="about-container">
  <div class="abouts">
    <h1 class="about-name">About 1</h1>
    <div>image place holder</div>
    <div class="about-text">
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
    </div>
  </div>
  <div class="abouts">
    <h1 class="about-name">About 2</h1>
    <div>image place holder</div>
    <div class="about-text">
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
    </div>
  </div>
  <div class="abouts">
    <h1 class="about-name">About 3</h1>
    <div>image place holder</div>
    <div class="about-text">
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
    </div>
  </div>
</div>
