<div class="about-container">
  <div class="card-spacing"></div>
  <div class="abouts">
    <h1 class="about-name">Steven Mahalak</h1>
    <div>
      <img
        class="profile-photo"
        src="../assets/600Steven.jpg"
        alt="Photo of Steven"
      />
    </div>
    <div class="about-text">
      <p class="about-paragraph">
        I am an ambitious problem-solver that craves the "ah-ha," feeling you
        get after coming to a solution. Any issue is a great opportunity for me
        to learn more about technology and how I can use it effectively in the
        future. My bachelor's degree in information technology and security has
        given me a foundational understanding for analytical thinking in the
        technical area.
      </p>

      <p class="about-paragraph">
        Throughout my career, I have produced exceptional solutions through
        appropriate decision making and logical troubleshooting. I am able to
        create high quality user experiences after the thousands of customers I
        have supported over the years. Working in an IT help desk environment
        has really sharpened my documentation and active listening skills.
      </p>

      <p class="about-paragraph">
        I am interested in a full-time role that will allow for me to leverage
        my technical knowledge and customer service experience in an environment
        that promotes growth opportunities. I look forward to a path of
        continuous learning through coding.
      </p>

      <p class="about-paragraph">
        I love new and exciting opportunities so please connect!
      </p>

      <p class="linkedin-container">
        <a href="https://www.linkedin.com/in/steven-mahalak/">
          <img
            class="linkedin"
            src="../assets/linkedin.PNG"
            alt="LinkedIn Logo"
          />
        </a>
      </p>
    </div>
  </div>
  <div class="abouts">
    <h1 class="about-name">Pallavi Kuthe</h1>
    <div>
      <img
        class="profile-photo"
        src="../assets/pallavi_6x6.jpg"
        alt="Photo of Pallavi"
      />
    </div>
    <div class="about-text">
      <p class="about-paragraph">
        Motivated, knowledgeable, and experienced IT professional, looking to
        restart my professional career after and experienced IT professional,
        looking to resume my professional career after dedicating few years to
        raising a family.
      </p>

      <p class="about-paragraph">
        I have 4 years of experience in HTML and CSS.Offeringsolid experience in
        diverse fields like Banking, Website development, Invoice Management,
        etc.
      </p>

      <p class="about-paragraph">
        I recently completed a Bootcamp in frontend technologies like angular,
        Node.js, Responsive Design and TDD to upgrade my knowledge with the
        latest tools.
      </p>

      <p class="about-paragraph">
        Looking for an opportunity as a Fullstack Developer to prove myself
        again in the industry!
      </p>

      <p class="linkedin-container">
        <a href="https://www.linkedin.com/in/pallavi-kuthe/">
          <img
            class="linkedin"
            src="../assets/linkedin.PNG"
            alt="LinkedIn Logo"
          />
        </a>
      </p>
    </div>
  </div>
  <div class="abouts">
    <h1 class="about-name">Elijah Stone</h1>
    <img class="profile-photo" src="../assets/eli.png" alt="Photo of Elijah" />
    <div class="about-text">
      <p class="about-paragraph">
        I "unofficially" began my journey into Front-End Development as a
        hobbyist designer. Little did I know tweaking my own and friend's blog
        pages and profiles would lead me into the exciting and highly dynamic
        world of tech.""
      </p>
      <p class="about-paragraph">
        Once I had learned there was a huge, unfulfilled need for making
        websites and applications more accessible I knew I needed to be a part
        of the change I wanted to see in tech and enrolled in Grand Circus'
        Front-End Development bootcamp.
      </p>
      <p class="about-paragraph">
        Since the first project I coded accessibility and design have been of
        equal importance. To keep up and improve my skills I am on the constant
        journey of applying the best WCAG practices.
      </p>
      <p class="about-paragraph">
        Now I am looking for a position where I can demonstrate my passion and
        knowledge. If you are looking for an efficient, people-oriented
        developer that doesn't give up I would love to work for you.
      </p>
      <p class="about-paragraph">
        I also love networking opportunities and collaboration. Feel free to
        connect!
      </p>
      <p class="linkedin-container">
        <a href="https://www.linkedin.com/in/elijahzstone/">
          <img
            class="linkedin"
            src="../assets/linkedin.PNG"
            alt="LinkedIn Logo"
          />
        </a>
      </p>
    </div>
  </div>
</div>
