<div class="about-container">
  <div class="abouts">
    <h1 class="about-name">Steven Mahalak</h1>
    <div>
      <img
        class="profile-photo"
        src="../assets/600Steven.jpg"
        alt="Photo of Steven"
      />
    </div>
    <div class="about-text">
      <p class="about-paragraph">
        I am an ambitious problem-solver that craves the "ah-ha," feeling you
        get after coming to a solution. Any issue is a great opportunity for me
        to learn more about technology and how I can use it effectively in the
        future. My bachelor's degree in information technology and security has
        given me a foundational understanding for analytical thinking in the
        technical area.
      </p>

      <p class="about-paragraph">
        Throughout my career, I have produced exceptional solutions through
        appropriate decision making and logical troubleshooting. I am able to
        create high quality user experiences after the thousands of customers I
        have supported over the years. Working in an IT help desk environment
        has really sharpened my documentation and active listening skills.
      </p>

      <p class="about-paragraph">
        I am interested in a full-time role that will allow for me to leverage
        my technical knowledge and customer service experience in an environment
        that promotes growth opportunities. I look forward to a path of
        continuous learning through coding.
      </p>

      <p class="about-paragraph">
        I love new and exciting opportunities so please connect!
      </p>

      <p class="linkedin-container">
        <a href="https://www.linkedin.com/in/steven-mahalak/">
          <img
            class="linkedin"
            src="../assets/linkedin.PNG"
            alt="LinkedIn Logo"
          />
        </a>
      </p>
    </div>
  </div>
  <div class="abouts">
    <h1 class="about-name">About 2</h1>
    <div>image place holder</div>
    <div class="about-text">
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
    </div>
  </div>
  <div class="abouts">
    <h1 class="about-name">About 3</h1>
    <div>image place holder</div>
    <div class="about-text">
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
      <p>Some about text here</p>
    </div>
  </div>
</div>
