.recipe-page-container {
  margin-top: 8em;
}

a {
  text-decoration: none;
}

.recipe-heading {
  color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
  font-size: 3.2em;
  margin-top: 0.4em;
}

.flex-parent {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.flex-child {
  margin: 1em;
  margin-top: 6em;
}

.recipe-card {
  display: flex;
  max-width: 300px;
}

.recipe-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin: 1em;
}

.front {
  transition: 275ms;
}
.recipe-title {
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em 0;
  color: white;
  text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}
.back {
  display: none;
}
.see-recipe-btn {
  font-size: 1.2em;
  font-weight: bolder;
  background-color: white;
  cursor: pointer;
  border: 0;
  border-radius: 100vw;
  padding: 0.3em 0.5em;
  font-weight: bold;
}
.see-recipe-btn:hover {
  background-color: blue;
}
.recipe-container:hover .front {
  transform: translateY(-15%) scale(0.9); /*shifts recipe container up*/
}
.recipe-container:hover .back {
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column; /*centering the btn*/
  align-items: center;
  margin: 2.3em 0;
}

.steak {
  background-image: url("./steak.jpg");
}

.ribs {
  background-image: url("./ribs.jpg");
}

.kabobs {
  background-image: url("./kabobs.jpg");
}

.chicken {
  background-image: url("./chicken.JPG");
}

.chili {
  background-image: url("./chili.jpg");
}

.corn {
  background-image: url("./campfireCorn.jpg");
}

.veggie {
  background-image: url("./veggie.jpg");
}

.smores {
  background-image: url("./smores.jpg");
}

.image-sizing {
  height: 350px;
  width: 300px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}

@media (min-width: 375px) {
  .flex-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .flex-child {
    flex: 1 27%;
    margin: 1em;
    margin-top: 6em;
  }
}
@media (min-width: 768px) {
  .flex-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .flex-child {
    flex: 1 21%;
    margin: 1em;
    margin-top: 8.5em;
  }

  .recipe-heading {
    font-size: 4.8em;
    /* margin-bottom: 2.5em; */
  }
}
