<h1>Recipes</h1>
<div class="flex-parent">



  <div class="flex-child">
    <div class="recipe-card">
      <div class="recipe-container">
        <div class="front">
          <div class="steak image-sizing"></div>
          <p class="recipe-title">Campfire Steak</p>
        </div>
        <div class="back">
          <button class="see-recipe-btn">
            <a href="https://www.campingforfoodies.com/grilled-flat-iron-camping-steak-recipe/">See Recipe</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-child">
    <div class="recipe-card">
      <div class="recipe-container">
        <div class="front">
          <div class="ribs image-sizing"></div>
          <p class="recipe-title">Dutch Oven BBQ Ribs</p>
        </div>
        <div class="back">
          <button class="see-recipe-btn">
            <a href="https://www.campingforfoodies.com/camping-dutch-oven-bbq-ribs/">See
              Recipe</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-child">
    <div class="recipe-card">
      <div class="recipe-container">
        <div class="front">
          <div class="kabobs image-sizing"></div>
          <p class="recipe-title">Kabobs</p>
        </div>
        <div class="back">
          <button class="see-recipe-btn">
            <a href="https://www.campingforfoodies.com/chicken-shish-kabobs/">See
              Recipe</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-child">
    <div class="recipe-card">
      <div class="recipe-container">
        <div class="front">
          <div class="chicken image-sizing"></div>
          <p class="recipe-title">Chicken and Rice</p>
        </div>
        <div class="back">
          <button class="see-recipe-btn">
            <a href="https://www.campingforfoodies.com/dutch-oven-chicken-and-rice-camping-recipe/">See
              Recipe</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-child">
    <div class="recipe-card">
      <div class="recipe-container">
        <div class="front">
          <div class="chili image-sizing"></div>
          <p class="recipe-title">Dutch Oven Chili</p>
        </div>
        <div class="back">
          <button class="see-recipe-btn">
            <a href="https://www.campingforfoodies.com/dutch-oven-chili/">See
              Recipe</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-child">
    <div class="recipe-card">
      <div class="recipe-container">
        <div class="front">
          <div class="corn image-sizing"></div>
          <p class="recipe-title">Campfire Corn</p>
        </div>
        <div class="back">
          <button class="see-recipe-btn">
            <a
              href="https://www.campingforfoodies.com/how-to-grill-sweet-corn-over-the-campfire-or-charcoal-grill-if-you-must/">See
              Recipe</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-child">
    <div class="recipe-card">
      <div class="recipe-container">
        <div class="front">
          <div class="veggie image-sizing"></div>
          <p class="recipe-title">Campfire Veggie Packets</p>
        </div>
        <div class="back">
          <button class="see-recipe-btn">
            <a href="https://www.campingforfoodies.com/campfire-veggie-packets/">See
              Recipe</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-child">
    <div class="recipe-card">
      <div class="recipe-container">
        <div class="front">
          <div class="smores image-sizing"></div>
          <p class="recipe-title">Dutch Oven S'mores</p>
        </div>
        <div class="back">
          <button class="see-recipe-btn">
            <a href="https://www.campingforfoodies.com/camping-smores-dutch-oven-brownies/">See
              Recipe</a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------------------------------- -->
  <!-- <p>
    <a href="https://in.pinterest.com/allrecipes/grilling-and-bbq-recipes/">
      Even More Recipes</a>
  </p>
  <p>
    <a href="https://www.campingforfoodies.com/dutch-oven-chili/">
      Dutch Oven Chilli</a>
  </p>
  <p>
    <a href="https://www.campingforfoodies.com/camping-dutch-oven-bbq-ribs/">
      Dutch Oven BBQ Ribs</a>
  </p>
  <p>
    <a href="https://www.campingforfoodies.com/dutch-oven-chicken-and-rice-camping-recipe/">
      Dutch Oven Chicken and Rice</a>
  </p>
  <p>
    <a href="https://www.campingforfoodies.com/camping-smores-dutch-oven-brownies/">
      Dutch Oven Smores Brownies</a>
  </p>
  <p>
    <a href="https://www.campingforfoodies.com/chicken-shish-kabobs/"> Kabobs</a>
  </p>
  <p>
    <a href="https://www.campingforfoodies.com/grilled-flat-iron-camping-steak-recipe/">
      Flat Iron Camping Steak</a>
  </p>
  <p></p>
  <p>
    <a href="https://www.campingforfoodies.com/campfire-veggie-packets/">
      Campfire Veggie Packets</a>
  </p> -->
</div>