<div class="recipe-page-container">
  <h1 class="recipe-heading">Recipes</h1>

  <div class="flex-parent">
    <div class="flex-child">
      <div class="recipe-card">
        <div class="recipe-container">
          <div class="front">
            <div class="steak image-sizing"></div>
            <p class="recipe-title">Campfire Steak</p>
          </div>
          <div class="back">
            <button class="see-recipe-btn">
              <a
                href="https://www.campingforfoodies.com/grilled-flat-iron-camping-steak-recipe/"
                target="_blank"
                >See Recipe</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-child">
      <div class="recipe-card">
        <div class="recipe-container">
          <div class="front">
            <div class="ribs image-sizing"></div>
            <p class="recipe-title">Dutch Oven BBQ Ribs</p>
          </div>
          <div class="back">
            <button class="see-recipe-btn">
              <a
                href="https://www.campingforfoodies.com/camping-dutch-oven-bbq-ribs/"
                target="_blank"
                >See Recipe</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-child">
      <div class="recipe-card">
        <div class="recipe-container">
          <div class="front">
            <div class="kabobs image-sizing"></div>
            <p class="recipe-title">Kabobs</p>
          </div>
          <div class="back">
            <button class="see-recipe-btn">
              <a
                href="https://www.campingforfoodies.com/chicken-shish-kabobs/"
                target="_blank"
                >See Recipe</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-child">
      <div class="recipe-card">
        <div class="recipe-container">
          <div class="front">
            <div class="chicken image-sizing"></div>
            <p class="recipe-title">Chicken and Rice</p>
          </div>
          <div class="back">
            <button class="see-recipe-btn">
              <a
                href="https://www.campingforfoodies.com/dutch-oven-chicken-and-rice-camping-recipe/"
                target="_blank"
                >See Recipe</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-child">
      <div class="recipe-card">
        <div class="recipe-container">
          <div class="front">
            <div class="chili image-sizing"></div>
            <p class="recipe-title">Dutch Oven Chili</p>
          </div>
          <div class="back">
            <button class="see-recipe-btn">
              <a
                href="https://www.campingforfoodies.com/dutch-oven-chili/"
                target="_blank"
                >See Recipe</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-child">
      <div class="recipe-card">
        <div class="recipe-container">
          <div class="front">
            <div class="corn image-sizing"></div>
            <p class="recipe-title">Campfire Corn</p>
          </div>
          <div class="back">
            <button class="see-recipe-btn">
              <a
                href="https://www.campingforfoodies.com/how-to-grill-sweet-corn-over-the-campfire-or-charcoal-grill-if-you-must/"
                target="_blank"
                >See Recipe</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-child">
      <div class="recipe-card">
        <div class="recipe-container">
          <div class="front">
            <div class="veggie image-sizing"></div>
            <p class="recipe-title">Campfire Veggie Packets</p>
          </div>
          <div class="back">
            <button class="see-recipe-btn">
              <a
                href="https://www.campingforfoodies.com/campfire-veggie-packets/"
                target="_blank"
                >See Recipe</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-child">
      <div class="recipe-card">
        <div class="recipe-container">
          <div class="front">
            <div class="smores image-sizing"></div>
            <p class="recipe-title">Dutch Oven S'mores</p>
          </div>
          <div class="back">
            <button class="see-recipe-btn">
              <a
                href="https://www.campingforfoodies.com/camping-smores-dutch-oven-brownies/"
                target="_blank"
                >See Recipe</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
