<h2>Supply List</h2>

<form #filterForm="ngForm" (input)="setSearchTerm(filterForm)">
  <input type="text" placeholder="Search for an item" name="filter" ngModel />
</form>
<p>Filter by</p>

<button (click)="showFilteredCampingCategory('Camping')">
  Camping Essentials
</button>
<div *ngIf="onCampsite">
  <ul>
    <li *ngFor="let item of showFilteredList('Camping')">
      <p>{{ item.name }}</p>
    </li>
  </ul>
</div>

<button class="camping-filter" (click)="showFilteredCampingCategory('Kitchen')">
  Kitchen
</button>
<div *ngIf="onKitchen">
  <ul>
    <li *ngFor="let item of showFilteredList('Kitchen')">
      <p>{{ item.name }}</p>
    </li>
  </ul>
</div>

<button class="camping-filter">BBQ</button>

<button class="camping-filter">Firepit</button>

<button class="camping-filter">Electric</button>
<button class="camping-filter">Bear Necessities</button>
<form #addForm="ngForm" (ngSubmit)="addItem(addForm)">
  <label for="name">Add Item</label>
  <ul>
    <li *ngFor="let item of filter(searchTerm); index as i">
      <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
        {{ item.name }}
        <button class="delete-btn" (click)="deleteItem(i)">X</button>
      </p>
    </li>
  </ul>
  <label for="name">Add an Item </label>
  <input type="text" placeholder="Add an item" name="name" id="name" ngModel />
  <label for="type">Item Type</label>
  <select name="type" id="type" ngModel>
    <option value="Camping">Camping</option>
    <option value="Kitchen">Kitchen</option>
    <option value="BBQ">BBQ</option>
    <option value="Firepit">Firepit</option>
    <option value="Electric">Electric</option>
  </select>
  <button class="add-btn">Add</button>
</form>
<button (click)="showDiv(onPacking)">Show My List</button>
<div *ngIf="onPacking">
  <ul>
    <li *ngFor="let item of showPackingList()">
      <p>{{ item.name }}</p>
    </li>
  </ul>
</div>

<!-- see how we can use like the above to filter with showFilteredCampingCategory -->
<!-- *ngFor="let item of showFilteredCampingCategory()"> -->
