<h2>Supply List</h2>

<!-- <form #filterForm="ngForm" (input)="setSearchTerm(filterForm)"> -->
<!-- <input type="text" placeholder="Search for an item" name="filter" ngModel /> -->
<!-- </form> -->
<!-- <p>Filter by</p> -->

<form #addForm="ngForm" (ngSubmit)="addItem(addForm)">
  <button
    (click)="
      element.scrollIntoView({ behavior: 'smooth', block: 'center' });
      element.focus()
    "
  >
    Add new item
  </button>
  <button (click)="showFilteredCampingCategory('Kitchen')">Kitchen</button>
  <button (click)="showFilteredCampingCategory('BBQ')">BBQ</button>
  <button (click)="showFilteredCampingCategory('Firepit')">Firepit</button>
  <button (click)="showFilteredCampingCategory('Camping')">
    Campsite Supplies
  </button>
  <button (click)="showFilteredCampingCategory('Default')">
    Bear Necessities
  </button>
  <button (click)="showFilteredCampingCategory('Electric')">
    Electrical Supplies
  </button>
  <div *ngIf="onKitchen">
    <h3>Kichen Supplies</h3>
    <ul class="kitchen-filter">
      <li *ngFor="let item of showFilteredList('Kitchen'); index as i">
        <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
          {{ item.name }}
        </p>
      </li>
    </ul>
  </div>

  <div *ngIf="onBBQ">
    <h3>BBQ Supplies</h3>
    <ul class="BBQ-filter">
      <li *ngFor="let item of showFilteredList('BBQ'); index as i">
        <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
          {{ item.name }}
        </p>
      </li>
    </ul>
  </div>

  <div *ngIf="onFirepit">
    <h3>Firepit Essentials</h3>
    <ul class="Firepit-filter">
      <li *ngFor="let item of showFilteredList('Firepit'); index as i">
        <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
          {{ item.name }}
        </p>
      </li>
    </ul>
  </div>

  <div *ngIf="onCamping">
    <h3>Campsite Supplies</h3>
    <ul class="Camping-filter">
      <li *ngFor="let item of showFilteredList('Camping'); index as i">
        <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
          {{ item.name }}
        </p>
      </li>
    </ul>
  </div>

  <div *ngIf="onDefault">
    <h3>Bear Necessities</h3>
    <ul class="Default-filter">
      <li *ngFor="let item of showFilteredList('Default'); index as i">
        <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
          {{ item.name }}
        </p>
      </li>
    </ul>
  </div>

  <div *ngIf="onElectric">
    <h3>Electrical Supplies</h3>
    <ul class="Electric-filter">
      <li *ngFor="let item of showFilteredList('Electric'); index as i">
        <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
          {{ item.name }}
        </p>
      </li>
    </ul>
  </div>

  <!-- <ul>
    <li *ngFor="let item of filter(searchTerm); index as i">
      <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
        {{ item.name }}
        <button class="delete-btn" (click)="deleteItem(i)">X</button>
      </p>
    </li>
  </ul> -->

  <label for="name">Add an Item </label>
  <input
    type="text"
    placeholder="Add an item"
    name="name"
    id="name"
    #element
    ngModel
  />
  <label for="type">Item Type</label>
  <select name="type" id="type" ngModel>
    <option value="Camping">Camping</option>
    <option value="Kitchen">Kitchen</option>
    <option value="BBQ">BBQ</option>
    <option value="Firepit">Firepit</option>
    <option value="Electric">Electric</option>
  </select>
  <button class="add-btn">Add</button>
</form>
<button (click)="showDiv(onPacking)">Show My List</button>
<div *ngIf="onPacking">
  <ul>
    <li *ngFor="let item of showPackingList()">
      <p>{{ item.name }}</p>
    </li>
  </ul>
</div>

<!-- see how we can use like the above to filter with showFilteredCampingCategory -->
<!-- *ngFor="let item of showFilteredCampingCategory()"> -->
