.dontAdd {
  text-decoration: line-through;
}

.supply-type-div {
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: contrast(0.5);
  margin: 4px 7px;
  padding: 5px 5px;
  border: 1px solid;
}
.kitchen-filter {
  color: blue;
}

.BBQ-filter {
  color: rgba(207, 44, 44, 0.651);
}

.onFirepit {
  color: rgb(235, 194, 11);
}

.Camping-filter {
  color: green;
}

.Default-filter {
  color: purple;
}

.Electric-filter {
  color: gold;
}

@media (min-width: 768px) {
  .supply-list-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .supply-type-div {
    flex: 1 20%;
  }
}
