<h2 class="supply-heading">Supply List</h2>
<!-- <form #filterForm="ngForm" (input)="setSearchTerm(filterForm)"> -->
<!-- <input type="text" placeholder="Search for an item" name="filter" ngModel /> -->
<!-- </form> -->
<!-- <p>Filter by</p> -->
<form class="supply-form" #addForm="ngForm" (ngSubmit)="addItem(addForm)">
  <div class="top-btns">
    <button
      class="btn"
      (click)="
        element.scrollIntoView({ behavior: 'smooth', block: 'center' });
        element.focus()
      "
    >
      Add new item
    </button>

    <button
      class="btn filter-container"
      (click)="showFilteredCampingCategory('Default')"
    >
      Bear Necessities
    </button>

    <button class="btn" (click)="showFilteredCampingCategory('BBQ')">
      BBQ
    </button>

    <button class="btn" (click)="showFilteredCampingCategory('Camping')">
      Campsite Supplies
    </button>

    <button class="btn" (click)="showFilteredCampingCategory('Firepit')">
      Firepit
    </button>

    <button class="btn" (click)="showFilteredCampingCategory('Electric')">
      Electrical Supplies
    </button>

    <button class="btn" (click)="showFilteredCampingCategory('Kitchen')">
      Kitchen
    </button>

    <button class="btn" (click)="showFilteredCampingCategory('All')">
      All Supplies
    </button>
  </div>
  <div class="supply-list-container">
    <div *ngIf="onKitchen" class="supply-type-div">
      <h3>Kitchen Supplies</h3>
      <ul>
        <li *ngFor="let item of showFilteredList('Kitchen'); index as i">
          <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
            {{ item.name }}
          </p>
        </li>
      </ul>
    </div>
    <div *ngIf="onBBQ" class="supply-type-div">
      <h3>BBQ Supplies</h3>
      <ul>
        <li *ngFor="let item of showFilteredList('BBQ'); index as i">
          <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
            {{ item.name }}
          </p>
        </li>
      </ul>
    </div>
    <div *ngIf="onFirepit" class="supply-type-div">
      <h3>Firepit Essentials</h3>
      <ul>
        <li *ngFor="let item of showFilteredList('Firepit'); index as i">
          <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
            {{ item.name }}
          </p>
        </li>
      </ul>
    </div>
    <div *ngIf="onCamping" class="supply-type-div">
      <h3>Campsite Supplies</h3>
      <ul>
        <li *ngFor="let item of showFilteredList('Camping'); index as i">
          <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
            {{ item.name }}
          </p>
        </li>
      </ul>
    </div>
    <div *ngIf="onDefault" class="supply-type-div">
      <h3>Bear Necessities</h3>
      <ul>
        <li *ngFor="let item of showFilteredList('Default'); index as i">
          <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
            {{ item.name }}
          </p>
        </li>
      </ul>
      <div class="youtube-video-container">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/08NlhjpVFsU"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div *ngIf="onElectric" class="supply-type-div">
      <h3>Electrical Supplies</h3>
      <ul>
        <li *ngFor="let item of showFilteredList('Electric'); index as i">
          <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
            {{ item.name }}
          </p>
        </li>
      </ul>
    </div>
  </div>
  <!-- <ul>
    <li *ngFor="let item of filter(searchTerm); index as i">
      <p [ngClass]="{ dontAdd: !item.needed }" (click)="neededItem(item)">
        {{ item.name }}
        <button class="delete-btn" (click)="deleteItem(i)">X</button>
      </p>
    </li>
  </ul> -->

  <div class="add-item">
    <label class="add-item-text" for="name">Add an Item </label>
    <input
      class="form-border"
      type="text"
      placeholder="Add an item"
      name="name"
      id="name"
      #element
      ngModel
    />
    <label class="add-item-text" for="type">Item Type</label>
    <select name="type" id="type" class="form-border" ngModel>
      <option value="Camping">Camping</option>
      <option value="Kitchen">Kitchen</option>
      <option value="BBQ">BBQ</option>
      <option value="Firepit">Firepit</option>
      <option value="Electric">Electric</option>
    </select>
    <button class="add-btn btn form-border">Add</button>
  </div>
</form>
<!-- <button class="btn" (click)="showDiv(onPacking)">Show My List</button>
<div *ngIf="onPacking">
  <ul>
    <li *ngFor="let item of showPackingList()">
      <p>{{ item.name }}</p>
    </li>
  </ul>
</div> -->
