/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Rubik", sans-serif;
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}
/*border-box  makes it so your padding doesn't push out your container width instead it pushes the content inwards to make it easier to calculate widths and stuff */

body {
  /* background: linear-gradient(to right, #b7e778, #7de5ff); */
  background: url(src\assets\camping-background-image2.jpg) no-repeat fixed 100%
    100%;
  /* background-repeat: no-repeat, repeat; */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  border: none;
  background-color: rgb(240, 208, 68);
  text-shadow: 0.03em 0 black, 0 0.03em black, -0.03em 0 black, 0 -0.03em black;
  color: black;
  padding: 7px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}
