<div class="campsite-parent-details-div">
  <div class="campsite-child-details-div">
    <p class="close-X" routerLink="/campground-watchlist">X</p>
    <h2 class="camp-details-header">
      Campsite Name :{{ campsite?.CampsiteName }}
      <i
        class="fas fa-heart"
        (click)="emitWatchListEvent(campsite)"
        [ngClass]="{ watchLater: checkWatchList(campsite) }"
      ></i>
    </h2>
    <h2 class="camp-details-header">
      Campsite Type:{{ campsite?.CampsiteType }}
    </h2>
    <h2 class="camp-details-header">
      Accessible:{{ campsite?.CampsiteAccessible }}
    </h2>
    <div class="list-background">
      <ol class="list-style">
        <h2 class="camp-details-header">Campsite Attributes</h2>
        <li class="list-style" *ngFor="let attribute of campsite?.ATTRIBUTES">
          <p>Attribute Name: {{ attribute?.AttributeName }}</p>
          <p>Attribute Value:{{ attribute?.AttributeValue }}</p>
        </li>
      </ol>
    </div>
    <button class="btn" routerLink="/supplies">Pack for This Trip</button>
  </div>
</div>
