.campsite-parent-details-div {
  margin-top: 150px;
  /* display: flex; */
  /* flex-direction: column; */
  color: #ffba00;
  /* margin: auto; */
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  /* justify-content: space-between; */
  /* align-items: center; */
  background-color: #202b36;
  border-radius: 10px;
  width: 20em;
  height: 20em;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}

.close-X {
  color: white;
  position: absolute;
  right: 0;
  top: 0;
}

::-webkit-scrollbar {
  width: 0.8em;
  overflow-y: scroll;
  background: grey;
  border-radius: 10px;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: rgb(240, 208, 68);
  border-radius: 10px;
}

/* not sure why this isn't working */
.watchLater {
  color: red;
}

.list-style {
  justify-content: space-between;
  padding: 0.5em;
  margin: 1em;
}
.camp-details-header {
  font-size: 1.2em;
  color: rgb(240, 208, 68);
}
.campsite-child-details-div {
  position: relative;
  display: flex;
  flex-direction: column;
}
.list-background {
  background-color: rgba(189, 195, 199, 0.2);
  color: rgb(240, 208, 68);
}
.label-text {
  color: white;
}
@media only screen and (min-width: 768px) {
  .campsite-parent-details-div {
    width: 28em;
  }
}
