<div>
  <img class="bear-left" src="../assets/confession_bear.png" alt="bear right" />
</div>
<div class="bubble-one bubble"></div>
<div class="bubble-two bubble"></div>
<div class="bubble-three bubble"></div>
<div class="bubble-four bubble"></div>
<div class="lost-div bubble">
  <div class="lost-text">
    <h1 class="header-style">BEAR with us!</h1>
    <p class="para-style">This page is lost!</p>
  </div>
</div>
<div class="bubble-five bubble"></div>
<div class="bubble-six bubble"></div>
<div class="bubble-seven bubble"></div>
<div class="bubble-eight bubble"></div>
<div>
  <img
    class="bear-right"
    src="../assets/confession_bear_flipped.png"
    alt="bear left"
  />
</div>
