
<app-search-criteria
  (searchStateEvent)="onStateSearch($event); getCampingFacilities($event)"
></app-search-criteria>
<app-campsite
  *ngFor="let stateObject of stateFacilityInfo?.RECDATA"
  [stateObjectRef]="stateObject"
  (showDetailEvent)="getAttributes($event)"
  (showCampsiteIdEvent)="getCampsiteId($event)"
  [campsiteArray]="campsiteIdInfo"
>
</app-campsite>


<div class="popUp popUpParent" *ngIf="showActivities">

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iure necessitatibus molestias blanditiis sit numquam laudantium quae esse repellat amet tempora aliquam, perferendis veniam aspernatur qui debitis cumque aut placeat?</p>


  <!-- Displaying the Attributes on the Pop Up -->
    <div  class="attributeText" *ngFor="let item of campsiteAttributesArray">
      <ul>
      <li>{{ item.AttributeName }}: {{ item.AttributeValue }}</li>
    </ul>
    </div>
   
    <p routerLink="/supplies">Click to see recommended supplies!</p>
   
    
 
  <button class="popUp-button" (click)="setShowActivities()">X</button>
</div>


