.popUp {
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUp-button {
  position: absolute;
  top: 5px;
  right: 10px;
  color: black;
  border: none;
  font-size: 20px;
  padding: 5px;
}

.popUpParent {
  display: flex;
  flex-direction: column;
}

.attributeText {
  align-self: flex-start;
}
.campsite-container {
  display: flex;
  margin: 10px;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
.facility-container {
  background-color: slategray;
  margin: 5px 10px;
}
@media only screen and (min-width: 768px) {
}
