.home-container {
  margin-top: 150px;
}

.attributeText {
  align-self: flex-start;
}
.campsite-container {
  display: flex;
  margin-left: 6em;
  padding: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}
.facility-container {
  background-color: slategray;
  margin: 5px 10px;
}
@media only screen and (min-width: 768px) {
}
